@namespace GraphRag.Net.Web.Pages
@page "/"

<h3>GraphRag.Net is a platform that allows you to quickly import text and documents to create GraphRAG examples for testing and experience</h3>
<h3>You can also reference GraphRag.Net separately in your project to use it</h3>
<h3></h3>
@code {

}
